<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shellming.eleservice.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.shellming.eleservice.entity.City">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="abbr" jdbcType="VARCHAR" property="abbr" />
    <result column="name_key" jdbcType="VARCHAR" property="name_key" />
    <result column="area_code" jdbcType="VARCHAR" property="area_code" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="is_map" jdbcType="BIT" property="is_map" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, abbr, name_key, area_code, sort, latitude, longitude, is_map, pinyin
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shellming.eleservice.entity.City">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into city (name, abbr, name_key, 
      area_code, sort, latitude, 
      longitude, is_map, pinyin
      )
    values (#{name,jdbcType=VARCHAR}, #{abbr,jdbcType=VARCHAR}, #{name_key,jdbcType=VARCHAR}, 
      #{area_code,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{latitude,jdbcType=DOUBLE}, 
      #{longitude,jdbcType=DOUBLE}, #{is_map,jdbcType=BIT}, #{pinyin,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shellming.eleservice.entity.City">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="abbr != null">
        abbr,
      </if>
      <if test="name_key != null">
        name_key,
      </if>
      <if test="area_code != null">
        area_code,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="is_map != null">
        is_map,
      </if>
      <if test="pinyin != null">
        pinyin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="abbr != null">
        #{abbr,jdbcType=VARCHAR},
      </if>
      <if test="name_key != null">
        #{name_key,jdbcType=VARCHAR},
      </if>
      <if test="area_code != null">
        #{area_code,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="is_map != null">
        #{is_map,jdbcType=BIT},
      </if>
      <if test="pinyin != null">
        #{pinyin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shellming.eleservice.entity.City">
    update city
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="abbr != null">
        abbr = #{abbr,jdbcType=VARCHAR},
      </if>
      <if test="name_key != null">
        name_key = #{name_key,jdbcType=VARCHAR},
      </if>
      <if test="area_code != null">
        area_code = #{area_code,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="is_map != null">
        is_map = #{is_map,jdbcType=BIT},
      </if>
      <if test="pinyin != null">
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shellming.eleservice.entity.City">
    update city
    set name = #{name,jdbcType=VARCHAR},
      abbr = #{abbr,jdbcType=VARCHAR},
      name_key = #{name_key,jdbcType=VARCHAR},
      area_code = #{area_code,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=DOUBLE},
      longitude = #{longitude,jdbcType=DOUBLE},
      is_map = #{is_map,jdbcType=BIT},
      pinyin = #{pinyin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>